@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap");
:root {
  --color-primary: hsl(192, 37%, 48%);
  --color-primary-light: hsl(192, 90%, 77%);
  --color-secondary: hsl(268, 34%, 53%);
  --color-seconday-light: hsl(268, 100%, 86%);
  --color-grey-dark: hsl(240, 21%, 20%);
  --color-grey-light: hsl(240, 10%, 57%);
  --color-white: hsl(0, 0%, 98%); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1.6rem;
  color: var(--color-grey-dark);
  background: var(--color-white);
  text-align: center; }

/*

############## UTILITIES  ################

*/
a {
  text-decoration: none; }

h1 {
  line-height: 1.1; }

p {
  color: var(--color-grey-light); }
  @media (min-width: 76.8rem) {
    p {
      line-height: 1.7; } }
  @media (min-width: 90rem) {
    p {
      font-size: 1.8rem; } }

.row {
  width: 90%;
  margin: 0 auto; }
  @media (min-width: 76.8rem) {
    .row {
      max-width: 114rem; } }

.flex {
  display: flex; }

/*BUTTONS*/
.btn {
  font-weight: 900;
  color: var(--color-white);
  border: 0;
  border-radius: 2.9rem;
  font-size: 1.6rem;
  line-height: 1.6;
  background: var(--color-primary);
  cursor: pointer;
  transition: all .4s; }
  .btn span {
    margin-left: 4px;
    color: var(--color-primary-light); }
  @media (min-width: 90rem) {
    .btn:hover, .btn:active {
      background: #6cacbc; } }
  .btn--link, .btn--purple {
    background-color: var(--color-secondary); }
    @media (min-width: 90rem) {
      .btn--link:hover, .btn--link:active, .btn--purple:hover, .btn--purple:active {
        background: #9f81c1; } }
  .btn--purple {
    /*Align the item on top when the viewpoort is greateer than 114rem*/ }
    .btn--purple span {
      color: var(--color-seconday-light); }
    @media (min-width: 90rem) {
      .btn--purple {
        align-self: flex-start; } }
  .btn--link {
    padding: 1.6rem 2.8rem; }
  .btn--action {
    padding: 1.6rem 4rem; }
    .btn--action:focus {
      outline: none; }

/*SECONDARY TITLE*/
.h2--title {
  font-size: 3.2rem;
  line-height: 1.2;
  font-weight: 900; }
  @media (min-width: 76.8rem) {
    .h2--title {
      font-size: 4rem;
      line-height: 1.1; } }

/*indicator*/
.indicator {
  height: 5.6rem;
  width: 5.6rem;
  border-radius: 50%;
  border: 2px solid rgba(134, 134, 156, 0.25);
  color: var(--color-grey-light);
  background: var(--color-white);
  padding: 1.6rem;
  font-weight: 900;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }
  .indicator::before {
    content: '';
    display: block;
    background: rgba(134, 134, 156, 0.25);
    width: 1px;
    height: 8.4rem;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%); }
  .indicator--btm {
    top: -6%; }

/*

############## HERO IMAGE SELECTION ################

*/
.img__abs {
  position: relative; }
  .img__abs--laptop {
    display: none; }
    @media (min-width: 90rem) {
      .img__abs--laptop {
        display: block;
        position: absolute;
        top: 2%; } }
  .img__abs--left {
    left: -15%; }
  .img__abs--right {
    right: -15%; }

/*


############## LAYOUT ################

*/
.header {
  text-align: center;
  padding-bottom: 6.4rem; }
  .header__logo {
    padding: 4.8rem 0; }
    @media (min-width: 90rem) {
      .header__logo {
        padding: 8rem 0 6rem; } }
  .header__img {
    margin: auto;
    margin-bottom: 4.8rem;
    overflow: hidden;
    max-width: 82rem;
    /*Tablet*/ }
    .header__img--mobile {
      width: 100%;
      height: auto;
      display: block; }
    @media (min-width: 76.8rem) {
      .header__img {
        margin-bottom: 7.2rem; } }
    @media (min-width: 90rem) {
      .header__img {
        display: none; } }
  @media (min-width: 90rem) {
    .header .hero {
      padding-top: 5rem; } }
  .header .hero__title {
    font-size: 4rem;
    margin-bottom: 2.4rem;
    font-weight: 900; }
    @media (min-width: 90rem) {
      .header .hero__title {
        font-size: 6.4rem;
        margin-bottom: 3.4rem; } }
  .header .hero__paragraph {
    font-weight: 500;
    margin-bottom: 3.2rem; }
  .header .hero__box {
    padding-bottom: 6.4rem;
    /*Remove all the extra white space*/ }
    .header .hero__box > * {
      display: inline-block; }
      .header .hero__box > *:first-child {
        margin-bottom: 1.6rem; }
        @media (min-width: 76.8rem) {
          .header .hero__box > *:first-child {
            margin-right: 1.6rem; } }
    @media (min-width: 90rem) {
      .header .hero__box {
        padding: 0; } }
  @media (min-width: 76.8rem) {
    .header .hero {
      width: 47%;
      margin: 0 auto; } }
  @media (min-width: 90rem) {
    .header .hero {
      margin-bottom: 7.9rem; } }

.center {
  position: relative;
  margin-top: 8rem;
  padding: 8rem 0 11.5rem; }
  @media (min-width: 76.8rem) {
    .center {
      padding-top: 6.4rem; } }
  @media (min-width: 90rem) {
    .center {
      padding-top: 1rem; } }
  .center__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.4rem;
    margin-bottom: 6.4rem;
    /*Tablet*/
    /*Laptop */ }
    @media (min-width: 76.8rem) {
      .center__img {
        gap: 1rem;
        margin-top: 4.8rem; } }
    @media (min-width: 90rem) {
      .center__img {
        gap: 3rem;
        margin-bottom: 8rem; } }
    .center__img div {
      overflow: hidden; }
    .center__img div img {
      width: 100%;
      height: auto;
      border-radius: .8rem; }
    .center__img > * {
      width: 15rem;
      height: auto;
      border-radius: .8rem; }
      @media (min-width: 90rem) {
        .center__img > * {
          gap: 1.1rem;
          width: 1.64rem; } }
      @media (min-width: 90rem) {
        .center__img > * {
          width: 25.5rem; } }
  @media (min-width: 76.8rem) {
    .center__box {
      width: 57%; } }
  .center__title--sm {
    color: var(--color-primary);
    margin-bottom: 2.4rem;
    letter-spacing: .4rem;
    text-transform: uppercase;
    font-size: 1.6rem; }
    @media (min-width: 90rem) {
      .center__title--sm {
        margin-bottom: 1.6rem; } }
  .center__title--bg {
    margin: auto;
    margin-bottom: 3.2rem; }
    @media (min-width: 76.8rem) {
      .center__title--bg {
        width: 90%; } }
  @media (min-width: 76.8rem) and (min-width: 90rem) {
    .center__title--bg {
      width: 40%; } }
  .center__paragraph {
    width: 95%; }
    @media (min-width: 76.8rem) {
      .center__paragraph {
        width: 110%; } }
    @media (min-width: 90rem) {
      .center__paragraph {
        width: 48%;
        margin: 0 auto; } }

.footer {
  position: relative;
  padding: 6.4rem 2.4rem 7.2rem;
  margin-top: 5.4rem;
  background: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), url("/starter-code/assets/mobile/image-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  mix-blend-mode: darken;
  /*Laptop*/ }
  @media (min-width: 76.8rem) {
    .footer {
      padding-top: 9.2rem;
      padding-bottom: 6.6rem;
      /*tablet*/
      background: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), url("/starter-code/assets/tablet/image-footer.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top; } }
  @media (min-width: 90rem) {
    .footer .flexer {
      display: flex;
      justify-content: space-between; }
      .footer .flexer > * {
        margin: 0; } }
  @media (min-width: 90rem) {
    .footer {
      text-align: left; } }
  .footer__title {
    color: var(--color-white);
    margin-bottom: 2.4rem; }
    @media (min-width: 76.8rem) {
      .footer__title {
        width: 45%;
        margin: 0 auto;
        margin-bottom: 3.2rem; } }
    @media (min-width: 90rem) {
      .footer__title {
        flex: 0 0 30%; } }
  .footer__paragraph {
    font-size: 1.8rem;
    line-height: 1.4;
    color: var(--color-white);
    margin-bottom: 3.2rem; }
    @media (min-width: 76.8rem) {
      .footer__paragraph {
        width: 75%;
        margin: 0 auto;
        margin-bottom: 4rem; } }
    @media (min-width: 90rem) {
      .footer__paragraph {
        flex: 0 0 29%; } }
